# Ignorer le dossier de configuration de PhpStorm/IntelliJ
.idea/

# Symfony / API
/api/.env
/api/.env.local
/api/.env.local.php
/api/.env.*.local
/api/config/secrets/prod/prod.decrypt.private.php
/api/public/bundles/
/api/var/
/api/vendor/
/api/config/jwt/*.pem

# Node/React / Front
/front/node_modules
/front/.pnp
/front/.pnp.js
/front/coverage
/front/build
/front/.DS_Store
/front/.env.local
/front/.env.development.local
/front/.env.test.local
/front/.env.production.local
/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*

# Fichiers globaux à ignorer
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
