.searchBar {
  display: flex;
  margin-bottom: 20px;

  .searchInput {
    position: relative;
    flex: 1;
    margin-right: 10px;

    input {
      width: 100%;
      padding: 10px 10px 10px 35px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }

    .searchIcon {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #999;
    }
  }

  .filters {
    display: flex;

    select {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-left: 10px;
      background-color: white;
    }
  }
}