.profileAvatar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid gray;
}

.userName {
  font-weight: 600;
  color: #D3D3D3;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}